<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EXUpdatesCheckOnLaunch</key>
    <string>ALWAYS</string>
    <key>EXUpdatesEnabled</key>
    <true/>
    <key>EXUpdatesLaunchWaitMs</key>
    <integer>0</integer>
    <key>EXUpdatesRequestHeaders</key>
    <dict>
      <key>expo-channel-name</key>
      <string>production-customer</string>
    </dict>
    <key>EXUpdatesRuntimeVersion</key>
    <string>customer-1.0.2</string>
    <key>EXUpdatesURL</key>
    <string>https://u.expo.dev/1158ff7e-1da5-4a6a-9080-14791394da7a</string>
  </dict>
</plist>